<ion-header>
	<ion-navbar>
		<ion-title>
			{{pageStatus}}
		</ion-title>
	</ion-navbar>
</ion-header>
<ion-content padding class="center-vertical">
	<ion-grid>
		<ion-row class="row pincode-input">
			<ion-col class="col col-10 col-offset-10">
				<span *ngIf="codeone || codeone == 0">*</span>
			</ion-col>&nbsp;&nbsp;
			<ion-col class="col col-10 col-offset-10">
				<span *ngIf="codetwo || codetwo == 0">*</span>
			</ion-col>&nbsp;&nbsp;
			<ion-col class="col col-10 col-offset-10">
				<span *ngIf="codethree || codethree == 0">*</span>
			</ion-col>&nbsp;&nbsp;
			<ion-col class="col col-10 col-offset-10">
				<span *ngIf="codefour || codefour == 0">*</span>
			</ion-col>
		</ion-row>
		<div class="errorMessage" *ngIf="!message">
	        <span >Please Enter Correct Pin</span>
		</div>
		</ion-grid>
			<ion-grid>
		<ion-row class="row1">
			<ion-col col-md-3>
				<button ion-button outline class="number" (click)="add('1')">1</button>
			</ion-col>
			<ion-col col-md-3>
				<button ion-button outline class="number" (click)="add('2')">2</button>
			</ion-col>
			<ion-col col-md-3>
				<button ion-button outline class="number" (click)="add('3')">3</button>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col col-md-3>
				<button ion-button outline class="number" (click)="add('4')">4</button>
			</ion-col>
			<ion-col col-md-3>
				<button ion-button outline class="number" (click)="add('5')">5</button>
			</ion-col>
			<ion-col col-md-3>
				<button ion-button outline class="number" (click)="add('6')">6</button>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col col-md-3>
				<button ion-button outline class="number" (click)="add('7')">7</button>
			</ion-col>
			<ion-col col-md-3>
				<button ion-button outline class="number" (click)="add('8')">8</button>
			</ion-col>
			<ion-col col-md-3>
				<button ion-button outline class="number" (click)="add('9')">9</button>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col col-md-3></ion-col>
			<ion-col col-md-3>
				<button ion-button outline class="number" (click)="add('0')">0</button>
			</ion-col>
			<ion-col col-md-3>
				<div class="button icon ion-arrow-left-a button-light button-stretch"  (click)="delete()"><ion-icon name="backspace"></ion-icon></div>
			</ion-col>	
		</ion-row>
		<ion-row>
			<ion-col col-md-3></ion-col>
			<ion-col col-md-3>
				<button ion-button outline class="fingerButton" (click)="open()"><ion-icon name="finger-print"></ion-icon></button>
			</ion-col>
			<ion-col col-md-3></ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
