.toolbar-background-md {
  border-color: #b2b2b2;
  background: #2399ff;
}
.toolbar-title-md {
  padding: 0 12px;
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
}
.row1{
	padding-top: 15%;
}
.button-outline-md {
  border-width: 1px;
  border-style: solid;
  border-color: #2399ff;
  color: #2399ff;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.button-md {
  border-radius: 2px;
  overflow: hidden;
  height: 3.6rem;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #2399ff;
  width:100%;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0.4rem 0.2rem;
  padding: 0 1.1em;
}
.center-vertical > * {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}
.pincode-input{
	margin-right: 5px;
	height: 30px;
	padding-top: 12%;
}
.col-10{
	border-bottom: 1px solid black;
	padding-bottom: 7%;
    padding-left: 9%;
}
.number{
    border: 50%;
    width: 70px;
    border-radius: 50%;
    height: 70px;
}
.button-stretch {
    width: 100%;
   	color: #2399ff;
   	margin-top: 32%;
    margin-left: -3%;
}
.errorMessage {
    border: 1px solid red;
    background: red;
    color: white;
    margin-top: 12%;
    text-align: center;
}
.fingerButton{
    border: 50%;
    width: 70px;
    border-radius: 50%;
    background-color: #2399ff;
    color:#fff;
    height: 70px;
}
.grid {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}